.container{
  display: flex;
  padding: 25px;
}

input{ 

  width: 250%;
  box-sizing: border-box;
  border: 5px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

